$blue-light:#007bc1;
$blue-dark: #004a75;
$orange:#ff8000;
$orange-dark: ​#cc6600;
$grey:#e5e5e5;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $grey;
}


.btn-warning {
  color: #fff;
  background-color: $orange;
  border-color: $orange;
  &:focus, &:hover {
    background-color: $orange;
    border-color: $orange;
  }
}

.btn-primary {
  color: #fff;
  background-color:$blue-light;
  border-color:$blue-light;
  &:focus, &:hover {
    background-color:$blue-light;
    border-color:$blue-light;
  }
}

.btn-outline-light:hover {
  color: $blue-dark;
}