<template>
  <div id="cookies-section" :class="className">
    <div class="container">
      <div class="d-flex bd-highlight">
        <div class="flex-grow-1 bd-highlight text-left pr-md-3">
          By accessing and using this website, you acknowledge that you have read and understand our <a href="#">Cookie Policy</a>, <a href="#">Privacy Policy</a>, and our <a href="#">Terms of Service</a>
        </div>
        <div class="bd-highlight">
          <button class="btn btn-primary btn-got" @click="hide">
            Got it
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      isVisible: false,
      isFixed: false
    }
  },
  computed: {
    className: function () {
      if (this.isVisible && this.isFixed) {
        return 'shown fixed'
      } else if (this.isVisible) {
        return 'shown'
      }else {
        return ''
      }
    }
  },
  mounted: function () {
    this.checkCookie()
    let self = this
    $(window).bind('scroll', function (e) {
        let height = $('#cookies-section').height()
        let scroll = $(window).scrollTop()
        if (scroll > height) {
          self.isFixed = true
        } else {
          self.isFixed = false
        }
      })
  },
  watch: {
  },
  methods: {
    hide: function () {
      self.isFixed = false
      this.isVisible = false
    },
    showCookieFail: function(){
      this.isVisible = true
    },
    checkCookie: function(){
        var cookieEnabled = navigator.cookieEnabled;
        if (!cookieEnabled){ 
            document.cookie = "testcookie";
            cookieEnabled = document.cookie.indexOf("testcookie")!=-1;
        }
        return cookieEnabled || this.showCookieFail();
    }
  }
}
</script>
<style lang="scss">

#cookies-section {
position: relative;
top:0;
left:0;
width: 100%;
z-index: 4;
top:-300px;
height: 0;
overflow: hidden;
background-color: #e5e5e5;
-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  &.fixed {
    position: fixed;
  }
  &.shown {
    height: auto;
    padding: 30px;
    top:0;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in;
  }
  .container {
    width: 720px;
     @media (max-width:640px) {
      left: initial;
      right: 0;
      width: 100%;
    }
  }
  .btn-got {
    min-width: 100px;
  }
}
</style>
