<template>
  <footer id="footer" class="container-fluid text-center">
    &copy; 2020 oktaviardi pratama. All rights reserved
  </footer>
</template>
<style lang="scss">
#footer {
  padding: 40px 0;
  color: #007bc1;
  background-color:#050328;
}
</style>
