<template>
  <div id="header" class="container-fluid">
    <a href="#">
      <img width="50" src="~/assets/img/y-logo-white.png" alt="">
    </a>
  </div>
</template>
<style lang="scss">
#header {
  position: relative;
  z-index: 1;
  display: block;
  height: 50px;
  padding: 30px;
  margin-bottom: -110px;
}
</style>
