<template>
  <div id="hero-section">
    <div class="container text-center">
      <h3>
        Hello! I'm Oktaviardi Pratama
      </h3>
      <h3 class="font-weight-bold mb-0">
        Consult, Design, and Develop Websites
      </h3>
      <article class="pt-3">
        <p>Have somethind greate in mind? feel free to contact me. I’ll help you to make it happen.</p>
      </article>
      <button class="btn btn-lg p-3 btn-outline-light text-uppercase mt-5">
        let's make contact
      </button>

       <article class="pt-4 desc">
        <p>
          Our work then targeted, best practices outcomes social innovation synergy.
Venture philanthropy, revolutionary inclusive policymaker relief. User-centered program areas scale.
        </p>
      </article>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss">

#hero-section {
  background-image: url('~@/assets/img/work-desk__dustin-lee.jpg');
  background-color: #000;
  color:#fff;
  padding-top: 110px + 110px;
  padding-bottom: 160px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:before {
    content:'';
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    background-color: #007bc1;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
  }
  .container {
    z-index: 1;
    position:relative;
  }
  article p {
    font-size: 21px;
    line-height: 32px;
    max-width: 550px;
    margin: 0 auto;
  }
   article.desc p {
    font-size: 21px;
    line-height: 32px;
    max-width: 810px;
    margin: 0 auto;
  }
}
</style>
