<template>
  <div id="newsletter" :class="isVisible && isInit? 'shown': ''">
    <i class="fa fa-times close-newsletter" @click="close"></i>
    <h3 class="mb-2">
      Get latest updates in web technologies
    </h3>
    <p>
      Qui ullamco eu adipisicing voluptate non exercitation nisi amet in ea cupidatat ex deserunt. Occaecat Lorem occaecat do officia sint aute. Quis esse nostrud laborum aliquip quis qui. Mollit fugiat labore nostrud laboris do consequat eu ut aliqua. Amet proident dolor dolor culpa duis ea excepteur dolore qui.
    </p>
    <form class="form-inline">
      <div class="form-row w-100">
       <div class="col-md-8 mb-2 mb-md-0">
          <input type="text" class="form-control w-100" id="staticEmail2" value="" placeholder="Email Address">
       </div>
       <div class="col-md-4">
         <button type="submit" class="btn btn-warning w-100 font-weight-bold">Count me in!</button>
       </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      isVisible: false,
      isInit: true
    }
  },
  mounted: function () {
    let self = this
    if (self.isInit) {
      $(window).bind('scroll', function (e) {
        let height = $('body').height() / 3
        let scroll = $(window).scrollTop()
        if (scroll > height) {
          self.showMe()
        }
      })
    }
  },
  methods: {
    showMe: function () {
      this.isVisible = true
    },
    close: function () {
      this.isInit = false
      this.isVisible = false
    }
  }
}
</script>
<style lang="scss">
#newsletter {
  z-index: 5;
  padding: 30px;
  width: 640px;
  color:#fff;
  background-color: rgba(0,123,193, 0.9);
  position: fixed;
  left: 0;
  bottom: -500px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  @media (max-width:640px) {
    left: initial;
    right: 0;
    width: 320px;
  }
  &.shown {
    bottom:0;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in;
  }
  .close-newsletter {
    font-size: 10px;
    position: absolute;
    right:15px;
    top:15px
  }
}
</style>
