<template>
  <div id="service-section">
    <div class="container text-center mb-5">
      <h3 class="mb-0">How Can I Help You?</h3>
      <article class="pt-3">
        <p>
          Our work then targeted, best practices outcomes social innovation synergy.
Venture philanthropy, revolutionary inclusive policymaker relief. User-centered program areas scale.
        </p>
      </article>
    </div>

    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-md-6 col-lg-4 mb-4 align-self-stretch" v-for="(service, index) in services" :key="index">
          <div class="service-box">
            <div class="title mb-4">
            <h4 class="mb-0">{{service.title}}</h4>
            <i :class="service.icon"></i>
          </div>
          <div class="desc">
            Id mollit elit consequat ullamco. Do irure amet irure eiusmod tempor. Pariatur deserunt aliquip irure proident tempor ea et commodo anim dolore quis do. Do qui mollit sint commodo ullamco in duis qui proident dolor enim commodo veniam. Ex elit cillum magna nisi exercitation eu duis nostrud.
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      services: [{
        title: 'Consult',
        icon: 'fa fa-comments'
      }, {
        title: 'Design',
        icon: 'fa fa-paint-brush'
      }, {
        title: 'Develop',
        icon: 'fa fa-cubes'
      }, {
        title: 'Marketing',
        icon: 'fa fa-bullhorn'
      }, {
        title: 'Manage',
        icon: 'fa fa-sliders-h'
      }, {
        title: 'Evolve',
        icon: 'fa fa-chart-line'
      }]
    }
  }
}
</script>
<style lang="scss">
#service-section {
  padding: 75px 0;
  article p {
    font-size: 21px;
    line-height: 32px;
    max-width: 810px;
    margin: 0 auto;
  }
  .service-box {
    height: 100%;
    position: relative;
    padding: 30px 25px;
    border:solid 1px #aaa;
    -webkit-box-shadow:inset 1px 1px 2px 0 #fff,  1px 1px 2px 0 #fff;
    box-shadow:inset 1px 1px 2px 0 #fff,  1px 1px 2px 0 #fff;
    .title {
      padding-right: 45px;
      position: relative;
      .fa {
        color:#AAA6A3;
        text-align: center;
        line-height: 35px;
        font-size: 35px;
        position: absolute;
        height: 35px;
        width: 35px;
        right: -5px;
        top: -5px;
      }
    }
  }
}
</style>
