<template>
  <div>
    <cookies></cookies>
    <header-page></header-page>
    <hero-page></hero-page>
    <service-page></service-page>
    <footer-page></footer-page>
    <news-letter></news-letter>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Hero from '~/components/Hero.vue'
import Service from '~/components/Service.vue'
import Footer from '~/components/Footer.vue'
import NewsLetter from '~/components/NewsLetter.vue'
import Cookies from '~/components/Cookies.vue'

export default {
  head () {
    return {
      bodyAttrs: {
        class: 'main-app'
      }
    }
  },
  components: {
    'header-page': Header,
    'hero-page': Hero,
    'service-page': Service,
    'footer-page': Footer,
    'news-letter': NewsLetter,
    'cookies': Cookies
  }
}
</script>

<style lang="scss">
</style>
